{
  "plugins": ["stylelint-scss", "stylelint-prettier"],
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "prettier/prettier": true,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-pattern": ["^foo", { "ignore": "global" }],
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/load-no-partial-leading-underscore": null,
    "no-descending-specificity": null,
    "selector-class-pattern": [
      "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)?(--[a-z0-9]([-]?[a-z0-9]+)*)?$",
      {
        "resolveNestedSelectors": true,
        "message": "El selector debe seguir el formato BEM"
      }
    ]
  }
}
