body {
  font-family: $font-text, sans-serif;
  background-color: $color-background;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex-grow: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@mixin img-redondido {
  border-radius: 1rem;
}

header {
  font-family: $font-menu, sans-serif;

  img {
    @include img-redondido;
    &:hover &:focus {
      animation: shake 0.5s;
    }
  }

  .nav-link {
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

i {
  padding-right: 0.25rem;
}

.subscription-form {
  width: 60vw;
  margin: 2rem auto;
}

footer {
  nav {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-left: 2rem;

    img {
      @include img-redondido;
    }
  }

  .nav {
    font-family: $font-menu, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    li {
      list-style: none;
    }
  }

  .nav__item {
    color: $color-quinary;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    display: flex;

    &:hover {
      color: $color-secondary;
    }

    &:not(:last-child) {
      padding-right: 0.8rem;
    }
  }

  .rrss {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;

    li {
      list-style: none;
    }
  }
}
