<footer>
    <nav>
        <a href="index.html">
            <img
                src="../src/assets/images/logo.jpg"
                alt="logo"
                width="50"
                height="50"
                href="./index.html"
            />
        </a>
        <ul class="nav">
            <li>
                <a class="nav__item" href="index.html">Inicio</a>
            </li>
            <li>
                <a class="nav__item" href="participants.html">Participantes</a>
            </li>
            <li>
                <a class="nav__item" href="news.html">Noticias</a>
            </li>
            <li>
                <a class="nav__item" href="contact.html">Contacto</a>
            </li>
        </ul>
        <ul class="rrss">
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-facebook"></i
                ></a>
            </li>
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-google-plus-g"></i
                ></a>
            </li>
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-linkedin"></i
                ></a>
            </li>
        </ul>
    </nav>
</footer>
