<footer>
    <form>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Nombre</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text"><span style="font-size: 1em; color: #d90429;"
            ><i class="fa-solid fa-heart"></i></span>No vamos a mandarte nada de spam</div>
        </div>
        <button type="submit" class="btn btn-primary">Subscribir</button>
      </form>
      <nav>
        <a href="index.html">
            <img
                src="../src/assets/images/logo.jpg"
                alt="logo"
                width="50"
                height="50"
                href="./index.html"
            />
        </a>
        <ul class="nav">
            <li>
                <a class="nav__item" href="index.html"
                    >Inicio</a
                >
            </li>
            <li>
                <a class="nav__item" href="participants.html">Participantes</a>
            </li>
            <li>
                <a class="nav__item" href="news.html">Noticias</a>
            </li>
            <li>
                <a class="nav__item" href="contact.html">Contacto</a>
            </li>
        </ul>
        <ul class="rrss">
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-google-plus-g"></i></a>
            </li>
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-square-twitter"></i></a>
            </li>
            <li>
                <a class="rrss__item" href="#"
                    ><i class="fa-brands fa-linkedin"></i></a>
            </li>
        </ul>
    </nav>
</footer>