
<header>
    <a href="./index.html"
        ><img
            src="../src/assets/images/logo cadiz.png"
            width="150"
            height="150"
            alt="logo cadiz"
    /></a>
    <nav>
        <ul class="nav">
            <li>
                <a class="nav__item--active" href="index.html"
                    ><span style="font-size: 1em; color: green;"><i class="fa-solid fa-tree"></i></span>Senderismo</a
                >
            </li>
            <li>
                <a class="nav__item" href=""><span style="font-size: 1em; color: black;"><i class="fa-solid fa-monument"></i></span>Monumentos</a>
            </li>
            <li>
                <a class="nav__item" href=""><span style="font-size: 1em; color: brown;">
                    <i class="fa-solid fa-coffee"></i>
                  </span>Gastronomía</a>
            </li>
        </ul>
    </nav>
</header>