<form class="subscription-form">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nombre</label>
        <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
        />
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
            >Correo Electrónico</label
        >
        <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
            <span style="font-size: 1em; color: #d90429"
                ><i class="fa-solid fa-heart"></i></span
            >No vamos a mandarte nada de spam
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Subscribir</button>
</form>
