<form>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nombre">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ejemplo@dominio.com">
      </div>
        <div id="emailHelp" class="form-text">
            <span style="font-size: 1em; color: #d90429"
                ><i class="fa-solid fa-heart"></i></span
            >No vamos a mandarte nada de spam
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Subscribir Newsletter</button>
</form>
