@use "sass:color";

$font-menu: "Alata", sans-serif;
$font-text: "Lora", sans-serif;
$font-title: "Titillium Web", sans-serif;

$color-primary: #D90429;
$color-secondary: #EF233C;
$color-background: #EDF2F4;
$color-quaternary: #8D99AE;
$color-quinary: #2B2D42;

//PERSONALIZAR VARIABLES DE BOOTSTRAP
$primary: $color-primary;
$border-color: $color-secondary;
